@font-face {
  font-family: 'Rubik';
  src: url("../fonts/Rubik.eot");
  src: url("../fonts/Rubik.eot?#iefix") format("embedded-opentype"), url("../fonts/Rubik.woff2") format("woff2"), url("../fonts/Rubik.woff") format("woff"), url("../fonts/Rubik.ttf") format("truetype"), url("../fonts/Rubik.svg#Rubik") format("svg");
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
  unicode-range: U+0020-F6CE; }

@font-face {
  font-family: 'Roboto Black';
  src: url("../fonts/Roboto Black.eot");
  src: url("../fonts/Roboto Black.eot?#iefix") format("embedded-opentype"), url("../fonts/Roboto Black.woff2") format("woff2"), url("../fonts/Roboto Black.woff") format("woff"), url("../fonts/Roboto Black.ttf") format("truetype"), url("../fonts/Roboto Black.svg#Roboto Black") format("svg");
  font-weight: 900;
  font-style: normal;
  font-stretch: normal;
  unicode-range: U+0020-2044; }

@font-face {
  font-family: 'Roboto Medium';
  src: url("../fonts/Roboto Medium.eot");
  src: url("../fonts/Roboto Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/Roboto Medium.woff2") format("woff2"), url("../fonts/Roboto Medium.woff") format("woff"), url("../fonts/Roboto Medium.ttf") format("truetype"), url("../fonts/Roboto Medium.svg#Roboto Medium") format("svg");
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  unicode-range: U+0020-2044; }

@font-face {
  font-family: 'Roboto Medium';
  src: url("../fonts/Roboto Medium Italic.eot");
  src: url("../fonts/Roboto Medium Italic.eot?#iefix") format("embedded-opentype"), url("../fonts/Roboto Medium Italic.woff2") format("woff2"), url("../fonts/Roboto Medium Italic.woff") format("woff"), url("../fonts/Roboto Medium Italic.ttf") format("truetype"), url("../fonts/Roboto Medium Italic.svg#Roboto Medium Italic") format("svg");
  font-weight: 500;
  font-style: italic;
  font-stretch: normal;
  unicode-range: U+0020-2044; }

@font-face {
  font-family: 'Roboto';
  src: url("../fonts/Roboto.eot");
  src: url("../fonts/Roboto.eot?#iefix") format("embedded-opentype"), url("../fonts/Roboto.woff2") format("woff2"), url("../fonts/Roboto.woff") format("woff"), url("../fonts/Roboto.ttf") format("truetype"), url("../fonts/Roboto.svg#Roboto") format("svg");
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
  unicode-range: U+0020-2044; }

@font-face {
  font-family: 'Roboto';
  src: url("../fonts/Roboto Bold.eot");
  src: url("../fonts/Roboto Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/Roboto Bold.woff2") format("woff2"), url("../fonts/Roboto Bold.woff") format("woff"), url("../fonts/Roboto Bold.ttf") format("truetype"), url("../fonts/Roboto Bold.svg#Roboto Bold") format("svg");
  font-weight: 700;
  font-style: normal;
  font-stretch: normal;
  unicode-range: U+0020-2044; }

@font-face {
  font-family: 'Roboto';
  src: url("../fonts/Roboto Bold Italic.eot");
  src: url("../fonts/Roboto Bold Italic.eot?#iefix") format("embedded-opentype"), url("../fonts/Roboto Bold Italic.woff2") format("woff2"), url("../fonts/Roboto Bold Italic.woff") format("woff"), url("../fonts/Roboto Bold Italic.ttf") format("truetype"), url("../fonts/Roboto Bold Italic.svg#Roboto Bold Italic") format("svg");
  font-weight: 700;
  font-style: italic;
  font-stretch: normal;
  unicode-range: U+0020-2044; }

@font-face {
  font-family: 'Roboto';
  src: url("../fonts/Roboto Italic.eot");
  src: url("../fonts/Roboto Italic.eot?#iefix") format("embedded-opentype"), url("../fonts/Roboto Italic.woff2") format("woff2"), url("../fonts/Roboto Italic.woff") format("woff"), url("../fonts/Roboto Italic.ttf") format("truetype"), url("../fonts/Roboto Italic.svg#Roboto Italic") format("svg");
  font-weight: 400;
  font-style: italic;
  font-stretch: normal;
  unicode-range: U+0020-2044; }

*,
*::before,
*::after {
  box-sizing: border-box; }

img {
  max-width: 100%;
  height: auto; }

.page {
  width: 100%;
  height: 100%; }

.page-body {
  position: relative;
  width: 100%;
  height: 100%;
  margin: 0;
  font-size: 100%;
  color: #585858;
  font-family: "Roboto", Arial, sans-serif; }
  @media (max-width: 991px) {
    .page-body {
      font-size: 14px; } }
  @media (min-width: 992px) {
    .page-body {
      font-size: 16px; } }

h1,
h2,
h3,
p {
  margin: 0; }

figure {
  margin: 0; }

ul {
  padding-left: 0; }

ol {
  margin: 0;
  padding-left: 16px; }

blockquote {
  margin: 0; }

.shoping-cart__icon {
  fill: #C7C7C7; }

.shoping-cart__notification {
  fill: #FF4F4F; }

.shoping-cart__notification-text {
  fill: #ffffff;
  color: #fff;
  font-size: 12px;
  font-weight: 500; }

@media (min-width: 992px) {
  .shoping-cart--dark .shoping-cart__icon {
    fill: #585858; } }

.social-list {
  list-style: none;
  display: flex;
  flex-direction: row; }
  .social-list__link {
    border-radius: 100px;
    display: flex;
    justify-content: center;
    align-items: center; }

.page-text-simple {
  font-size: 14px; }

.page-text--highlight-white {
  color: #ffffff; }

@media (max-width: 991px) {
  .page-text-h1 {
    font-size: 32px; }
  .page-text-h2 {
    font-size: 22px; }
  .page-text-h3 {
    font-size: 19px; }
  .page-text--noweight {
    font-weight: normal; }
  .page-text--highlight {
    color: #FF994F; } }

@media (min-width: 992px) {
  .page-text-h1 {
    font-size: 56px; }
  .page-text-h3 {
    font-size: 28px; }
  .page-text--noweight {
    font-weight: normal; }
  .page-text--highlight {
    color: #FF994F; } }

@media (max-width: 991px) {
  .page-container {
    padding: 0 16px; } }

@media (min-width: 992px) {
  .page-container {
    padding: 0 22px; } }

@media (max-width: 991px) {
  .hide-mobmenu {
    display: block; }
    .hide-mobmenu__btn {
      background-color: transparent;
      border: none;
      outline: none;
      cursor: pointer; }
      .hide-mobmenu__btn img {
        vertical-align: middle; } }

@media (min-width: 992px) {
  .hide-mobmenu {
    display: none; } }

.hyphen-list {
  list-style-type: none; }
  .hyphen-list li {
    position: relative;
    padding-left: 10px; }
    .hyphen-list li::before {
      position: absolute;
      content: "-";
      left: 0px; }

.mfp-close-btn-in .mfp-close {
  color: #fff;
  background-color: rgba(255, 255, 255, 0.2); }

.btn {
  padding: 10px 20px;
  border-radius: 44px;
  border: 1px solid #FFC499;
  color: #393939;
  font-size: 18px;
  line-height: 24px;
  cursor: pointer; }
  .btn-subscribe {
    font-family: "Roboto", Arial, sans-serif;
    font-weight: 600;
    background-color: #FFC499;
    color: #393939; }
    @media (max-width: 991px) {
      .btn-subscribe {
        font-size: 14px;
        padding: 12px 16px; } }
    @media (min-width: 992px) {
      .btn-subscribe {
        font-size: 18px;
        padding: 16px 20px; } }
  .btn-primary {
    background-color: #FFC499;
    transition: background .1s linear; }
    .btn-primary:hover {
      background-color: rgba(255, 196, 153, 0.7);
      border: 1px solid rgba(255, 196, 153, 0.7); }
    .btn-primary:active {
      background-color: #FFC499;
      border: 1px solid #FFC499; }
  .btn-secondary {
    background-color: #fff; }

.input-text {
  border-radius: 10px; }

.page-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 8;
  transition: background .2s linear;
  /* end .page-header__menu-list */
  /* end .page-header__lang-list */
  /* end .page-header__social-list */ }
  .page-header--bg-white {
    background-color: #fff; }
  .page-header__container {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-self: center; }
  .page-header__inner, .page-header__nav-container {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center; }
  .page-header__inner {
    align-items: center; }
  @media (min-width: 992px) {
    .page-header__logo {
      padding: 10px 0; } }
  @media (min-width: 992px) {
    .page-header__logo-img {
      width: 97px;
      height: 97px; } }
  @media (max-width: 991px) {
    .page-header__nav {
      position: fixed;
      top: 0;
      left: 0;
      bottom: 0;
      width: 100vw;
      height: 100vh;
      background-color: #EBEDEE;
      transition: all 0.15s linear;
      transform: translateX(100%); }
      .page-header__nav--show {
        transform: translateX(0); } }
  @media (min-width: 992px) {
    .page-header__nav {
      display: block; } }
  @media (max-width: 991px) {
    .page-header__nav-container {
      padding: 24px 20px;
      height: inherit;
      flex-flow: column nowrap;
      justify-content: space-between;
      overflow-x: auto; } }
  .page-header__nav-list {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    list-style-type: none;
    margin: 0; }
    @media (max-width: 991px) {
      .page-header__nav-list {
        align-items: center; } }
  @media (max-width: 991px) {
    .page-header__menu-list {
      flex-flow: column nowrap;
      justify-content: space-between; } }
  @media (max-width: 991px) {
    .page-header__menu-list .menu-list__item {
      margin-bottom: 24px; } }
  @media (min-width: 992px) {
    .page-header__menu-list .menu-list__item:not(:last-child) {
      margin-right: 12px; } }
  .page-header__menu-list .menu-list__link {
    border-radius: 44px; }
    @media (max-width: 991px) {
      .page-header__menu-list .menu-list__link {
        background-color: #fff;
        font-weight: 600; } }
    @media (min-width: 992px) {
      .page-header__menu-list .menu-list__link {
        background-color: rgba(0, 0, 0, 0.02);
        font-weight: normal; } }
    @media (max-width: 991px) {
      .page-header__menu-list .menu-list__link:hover, .page-header__menu-list .menu-list__link--active {
        background-color: #FFC499;
        color: #393939; } }
    @media (min-width: 992px) {
      .page-header__menu-list .menu-list__link:hover, .page-header__menu-list .menu-list__link--active {
        background-color: #FFC499;
        color: #fff; } }
  .page-header__lang-list .lang-list__item:not(:nth-child(2)) {
    margin-right: 16px; }
  @media (max-width: 991px) {
    .page-header__lang-list .lang-list__link {
      color: #C7C7C7; } }
  @media (min-width: 992px) {
    .page-header__lang-list .lang-list__link {
      color: #393939; } }
  .page-header__lang-list .lang-list__link--active {
    color: #FF994F; }
  @media (max-width: 991px) {
    .page-header__lang-list {
      order: -1;
      width: 100%; } }
  .page-header__social-list .social-list__item:not(:last-child) {
    margin-right: 10px; }
  .page-header__social-list .social-list__link {
    width: 32px;
    height: 32px;
    background-color: rgba(57, 57, 57, 0.2); }
    .page-header__social-list .social-list__link:hover {
      background-color: rgba(57, 57, 57, 0.8); }
    .page-header__social-list .social-list__link img {
      width: 15px; }
  @media (min-width: 992px) {
    .page-header__social-list--dark .social-list__link {
      background-color: rgba(57, 57, 57, 0.8); } }
  .page-header__hide-mobmenu {
    flex-grow: 1;
    text-align: right; }
  .page-header__burger-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 24px;
    height: 24px;
    margin-left: 32px;
    cursor: pointer; }
    .page-header__burger-icon:hover {
      background-color: rgba(192, 192, 192, 0.2);
      border-radius: 2px; }
    @media (min-width: 992px) {
      .page-header__burger-icon {
        display: none; } }
  @media (min-width: 992px) {
    .page-header__lang-list, .page-header__social-list {
      margin-left: 16px; } }
  @media (min-width: 1223px) {
    .page-header__lang-list, .page-header__social-list {
      margin-left: 32px; } }
  @media (min-width: 992px) {
    .page-header__shoping-cart {
      margin-left: 32px; } }

/* end .page-header */
@media (max-width: 991px) {
  .menu-list__item {
    min-width: 165px;
    width: 45vw; } }

.menu-list__link {
  display: block;
  color: #393939;
  font-size: 18px;
  line-height: 24px;
  transition: all 0.1s linear;
  text-decoration: none;
  text-align: center; }
  @media (max-width: 991px) {
    .menu-list__link {
      padding: 16px 0; } }
  @media (min-width: 992px) {
    .menu-list__link {
      padding: 10px 20px; } }

/* end .nav-list */
.lang-list__link {
  color: #393939;
  font-size: 18px;
  line-height: 24px;
  transition: all 0.1s linear;
  text-decoration: none; }

/* end .lang-list */
@media (max-width: 991px) {
  .page-main--top {
    padding-top: 90px; } }

@media (min-width: 992px) {
  .page-main--top {
    padding-top: 125px; } }

.page-main__wrapper {
  display: flex; }
  @media (max-width: 991px) {
    .page-main__wrapper {
      margin-top: 120px;
      flex-direction: column; } }
  @media (min-width: 992px) {
    .page-main__wrapper {
      height: 100vh;
      max-height: 768px;
      max-width: 1000px;
      margin-left: auto;
      margin-right: auto;
      flex-flow: row nowrap;
      justify-content: space-between;
      align-items: center; } }
  @media (min-width: 992px) {
    .page-main__wrapper--reverse {
      flex-direction: row-reverse; } }

.page-main__content-main {
  background-color: #EBEDEE; }

@media (min-width: 992px) {
  .page-main__first {
    width: 517px; } }

@media (max-width: 991px) {
  .page-main__last img {
    width: 100%; } }

@media (min-width: 992px) {
  .page-main__last {
    width: 387px; } }

.page-main__text {
  line-height: 150%; }

.page-main__text, .page-main__subtitle, .page-main__title {
  margin-bottom: 16px; }

.page-main__title {
  color: #393939; }

.page-main__subtitle {
  font-weight: normal; }

.page-main__btns-action {
  padding: 8px 0;
  margin-bottom: 32px; }

.page-main__btn-action:not(:last-child) {
  margin-right: 12px; }

/* end .page-main */
.page-community__title {
  font-size: 28px;
  font-weight: normal;
  line-height: 150%;
  text-align: center; }

.page-community__mailto {
  color: #4E87DC;
  border-bottom: 2px dashed;
  text-decoration: none;
  padding-bottom: 2px; }
  .page-community__mailto:hover {
    border-bottom: 0px dashed; }

.page-community__social-list {
  justify-content: center;
  align-items: center; }
  @media (max-width: 991px) {
    .page-community__social-list {
      margin: 32px 0; } }
  @media (min-width: 992px) {
    .page-community__social-list {
      margin: 40px 0; } }

.page-community__social-link {
  width: 40px;
  height: 40px;
  background-color: #393939; }
  .page-community__social-link--active, .page-community__social-link:hover {
    background: linear-gradient(135deg, #FF5F6D 2.88%, #FFC371 100%); }

.page-community__social-item:not(:last-child) {
  margin-right: 24px; }

/* end .page-community */
.page-sales__container {
  margin-top: 120px;
  margin-bottom: 120px; }

.page-sales__title {
  font-size: 28px;
  font-weight: normal;
  line-height: 150%;
  text-align: center;
  max-width: 745px;
  margin: 0 auto; }
  @media (max-width: 991px) {
    .page-sales__title {
      margin-bottom: 64px; } }
  @media (min-width: 992px) {
    .page-sales__title {
      margin-bottom: 86px; } }

.page-sales__item {
  width: 197px;
  text-decoration: none; }
  .page-sales__item-img {
    margin-bottom: 20px; }
  .page-sales__item-title {
    font-family: "Arial", Arial, sans-serif;
    font-weight: normal;
    color: #393939;
    line-height: 24px;
    margin-bottom: 8px; }
  .page-sales__item-cost {
    color: #666666;
    font-size: 16px;
    line-height: 20px; }

/* end .page-sales */
.page-home {
  position: relative;
  color: #393939; }
  .page-home--bg-home {
    background-color: #EBEDEE; }
  .page-home--bg-oursox {
    background: linear-gradient(284.02deg, #C3AF8D 21.2%, #E4D8C0 100%); }
  @media (max-width: 991px) {
    .page-home {
      background-image: none !important; } }
  @media (min-width: 992px) {
    .page-home {
      background-size: contain;
      background-repeat: no-repeat;
      background-position: right bottom; } }
  .page-home__title {
    margin-bottom: 16px; }
  .page-home__subtitle {
    font-weight: normal;
    margin-bottom: 32px; }
  .page-home__container {
    display: flex; }
    @media (max-width: 991px) {
      .page-home__container {
        height: 100%;
        padding-top: 96px;
        flex-direction: column;
        justify-content: space-between; } }
    @media (min-width: 992px) {
      .page-home__container {
        width: 85%;
        margin-left: auto;
        margin-right: auto;
        height: 100vh;
        flex-direction: row;
        justify-content: space-between;
        align-items: center; } }
  @media (min-width: 992px) {
    .page-home__first {
      flex-basis: 57%; } }
  @media (min-width: 992px) {
    .page-home__last {
      display: none; } }
  .page-home__last img {
    display: block;
    width: 100%; }

/* end .page-home */
@media (min-width: 992px) {
  .page-inspiration {
    height: 100vh; } }

.page-inspiration__slide {
  height: 247px;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat; }
  @media (max-width: 991px) {
    .page-inspiration__slide {
      width: 247px; } }
  @media (min-width: 992px) {
    .page-inspiration__slide {
      width: 387px; } }

/* end .page-inspiration */
.page-gallery {
  position: relative;
  margin-bottom: 40px; }
  @media (max-width: 991px) {
    .page-gallery__container {
      padding-top: 96px; } }
  @media (min-width: 992px) {
    .page-gallery__container {
      padding-top: 125px; } }
  .page-gallery__list {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-self: center; }
  .page-gallery__list-item {
    max-width: 500px;
    flex-basis: 40%;
    height: 300px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    margin-bottom: 10px;
    margin-right: 5px; }
    .page-gallery__list-item img {
      position: relative;
      width: 100%; }
  .page-gallery__gallery-slides {
    margin-bottom: 10px; }
    .page-gallery__gallery-slides figure {
      width: 100%;
      height: 75vh;
      background-position: center center;
      background-size: contain;
      background-repeat: no-repeat; }
  .page-gallery__thumbs figure {
    width: 30%;
    height: 140px;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat; }
  .page-gallery .mfp-close {
    color: #fff; }

/* end .page-gallery */
.page-subscribe {
  /* end .page-subscribe__input-wrapper */ }
  @media (max-width: 991px) {
    .page-subscribe {
      margin-bottom: 32px; } }
  @media (min-width: 992px) {
    .page-subscribe {
      margin-bottom: 40px; } }
  .page-subscribe__container {
    background-color: rgba(245, 245, 245, 0.79);
    border-radius: 10px; }
    @media (max-width: 991px) {
      .page-subscribe__container {
        padding: 24px 16px; } }
    @media (min-width: 992px) {
      .page-subscribe__container {
        padding-top: 43px;
        padding-bottom: 43px;
        margin: auto;
        max-width: 1000px; } }
  .page-subscribe__title {
    color: #393939;
    text-align: center;
    margin-bottom: 16px; }
    @media (max-width: 991px) {
      .page-subscribe__title {
        font-size: 28px;
        line-height: 120%; } }
    @media (min-width: 992px) {
      .page-subscribe__title {
        font-size: 36px; } }
  .page-subscribe__text {
    color: #666666;
    text-align: center;
    font-size: 16px;
    line-height: 150%;
    margin-bottom: 16px; }
  .page-subscribe__form {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 auto;
    max-width: 500px; }
  .page-subscribe__input {
    text-indent: 12px;
    flex-grow: 1;
    border-radius: 9px;
    margin: 1px;
    border: none;
    outline: none;
    z-index: 2; }
    @media (max-width: 991px) {
      .page-subscribe__input {
        font-size: 14px; } }
    @media (min-width: 992px) {
      .page-subscribe__input {
        font-size: 17px; } }
  .page-subscribe__input-wrapper {
    position: relative;
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: stretch;
    border-radius: 10px; }
    .page-subscribe__input-wrapper::before, .page-subscribe__input-wrapper::after {
      position: absolute;
      content: "";
      border-radius: 10px; }
    .page-subscribe__input-wrapper::before {
      border-radius: 11px;
      background-color: #FDDDC6;
      top: -3px;
      left: -3px;
      right: -3px;
      bottom: -3px;
      z-index: 0; }
    .page-subscribe__input-wrapper::after {
      background: linear-gradient(135deg, #FF5F6D 2.88%, #FFC371 100%);
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      z-index: 1; }
  .page-subscribe__btn {
    margin-left: 10px; }

/* end page-subscribe */
@media (min-width: 992px) {
  .page-shop .page-container {
    padding: 0; } }

@media (min-width: 992px) {
  .page-shop__container {
    margin-bottom: 80px; } }

.page-shop__inner {
  display: flex; }
  @media (max-width: 991px) {
    .page-shop__inner {
      flex-flow: column nowrap; } }
  @media (min-width: 992px) {
    .page-shop__inner {
      width: 95%;
      margin: 0 auto;
      flex-flow: row nowrap;
      justify-content: space-between; } }

.page-shop__title {
  color: #C7C7C7;
  line-height: 150%;
  text-align: center; }
  @media (max-width: 991px) {
    .page-shop__title {
      padding: 16px 0; } }

@media (max-width: 991px) {
  .page-shop__filters {
    margin-bottom: 20px; } }

@media (min-width: 992px) {
  .page-shop__filters-list {
    min-width: 140px;
    max-width: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start; } }

.page-shop__products {
  display: flex;
  /* @include md-min-max($mobile-width, $tablet-width + 1) {
      justify-content: flex-start;
    } */ }
  @media (max-width: 991px) {
    .page-shop__products {
      flex-flow: row wrap;
      justify-content: center;
      height: 65vh;
      overflow-x: scroll;
      -ms-overflow-style: none;
      overflow: -moz-scrollbars-none;
      scrollbar-width: none; }
      .page-shop__products::-webkit-scrollbar {
        display: none; } }
  @media (min-width: 992px) {
    .page-shop__products {
      flex-flow: row wrap;
      flex-basis: 85%; } }
  @media (max-width: 479px) {
    .page-shop__products {
      height: 60vh;
      justify-content: center; } }

.page-shop__product-box {
  position: relative; }
  .page-shop__product-box:hover .page-shop__hover {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 2; }

@media (max-width: 991px) {
  .page-shop__product {
    width: 164px;
    margin-right: 10px;
    margin-bottom: 10px; } }

@media (min-width: 992px) {
  .page-shop__product {
    margin-right: 20px;
    margin-bottom: 20px; } }

@media (max-width: 479px) {
  .page-shop__product {
    width: 48%;
    min-width: 120px;
    max-width: 164px; }
    .page-shop__product:nth-child(even) {
      margin-right: 0;
      margin-bottom: 0; } }

.page-shop__hover {
  display: none;
  background-color: rgba(0, 0, 0, 0.2);
  text-decoration: none; }

.page-shop__hover-btn {
  background-color: #FF994F;
  color: #fff;
  border: none; }
  @media (max-width: 991px) {
    .page-shop__hover-btn {
      font-size: 14px;
      padding: 2px 16px; } }

@media (min-width: 992px) {
  .page-shop__product-img {
    width: 235px; } }

.page-shop__products-title {
  color: #C7C7C7;
  line-height: 150%; }
  @media (max-width: 991px) {
    .page-shop__products-title {
      display: none;
      font-size: 19px; } }
  @media (min-width: 992px) {
    .page-shop__products-title {
      font-size: 23px;
      margin-bottom: 40px; } }
  .page-shop__products-title p {
    display: inline-block;
    border-bottom: 1px solid; }

.page-shop__filters {
  list-style: none;
  font-size: 16px; }
  @media (min-width: 992px) {
    .page-shop__filters {
      flex-grow: 1; } }

@media (max-width: 991px) {
  .page-shop__filter-item {
    padding: 12px 8px;
    width: 140px; } }

.page-shop__filter-text {
  display: inline-block;
  cursor: pointer; }
  .page-shop__filter-text--active, .page-shop__filter-text:hover {
    color: #FF994F; }
  @media (max-width: 991px) {
    .page-shop__filter-text {
      display: block;
      text-align: center; } }
  @media (min-width: 992px) {
    .page-shop__filter-text {
      padding: 12px 14px; } }

/* end .page-shop */
@media (max-width: 991px) {
  .swiper--testmob {
    display: block; } }

@media (min-width: 992px) {
  .swiper--testmob {
    display: none; } }

@media (max-width: 991px) {
  .swiper--testdesk {
    display: none; } }

@media (min-width: 992px) {
  .swiper--testdesk {
    display: block; } }

.page-sale {
  margin-bottom: 16px; }
  .page-sale__container {
    max-width: 1000px; }
    @media (max-width: 991px) {
      .page-sale__container {
        margin: 0 auto; } }
    @media (min-width: 992px) {
      .page-sale__container {
        margin: 0 auto; } }
  .page-sale__item {
    width: 319px;
    padding: 24px;
    border-radius: 10px;
    border: 1px solid #c7c7c7; }
  .page-sale__title {
    font-size: 28px;
    color: #393939;
    line-height: 38px;
    margin-bottom: 12px; }
  .page-sale__top {
    margin-bottom: 12px; }
  .page-sale__cover {
    width: 100%;
    height: 160px;
    background-color: #FFF6F0;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    margin-bottom: 16px;
    border-radius: 15px; }
  .page-sale__cost {
    font-size: 36px;
    color: #393939;
    line-height: 120%; }
  .page-sale__subtitle {
    font-size: 15px;
    color: #c7c7c7;
    line-height: 24px; }
  .page-sale__list {
    font-family: "rubik", Arial, sans-serif;
    padding-left: 16px;
    margin-top: 0;
    margin-bottom: 12px;
    list-style: url(../img/list-marker-circle.svg); }
  .page-sale .page-text {
    line-height: 24px;
    margin-bottom: 12px; }
  .page-sale__list-item {
    font-size: 13px;
    margin-bottom: 12px; }
  .page-sale__btns {
    margin-bottom: 0; }
  .page-sale__btn {
    width: 100%; }

@media (max-width: 991px) {
  .page-footer {
    margin-bottom: 32px; } }

@media (min-width: 992px) {
  .page-footer {
    padding-top: 40px;
    padding-bottom: 40px; } }

.page-footer__list {
  list-style: none;
  max-width: 660px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between; }
  @media (max-width: 991px) {
    .page-footer__list {
      flex-direction: column;
      align-items: stretch; } }
  @media (min-width: 992px) {
    .page-footer__list {
      flex-direction: row;
      align-items: center; } }

.page-footer__item {
  /* @include mdn($tablet-width + 1) {
      padding-top: 20px;
      padding-bottom: 20px;
    } */ }
  @media (max-width: 991px) {
    .page-footer__item:not(:last-child) {
      margin-bottom: 32px; } }

.page-footer__link {
  display: block;
  color: #9F9F9F;
  font-size: 18px;
  line-height: 24px;
  text-decoration: none;
  text-align: center; }

.footer-message {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #020202;
  padding: 20px 0;
  text-align: center;
  font-size: 18px;
  color: #fff;
  z-index: 2; }
  @media (max-width: 991px) {
    .footer-message {
      position: relative; } }
