@font-face {
  font-family: 'Rubik';
  src: url('../fonts/Rubik.eot');
  src: url('../fonts/Rubik.eot?#iefix') format('embedded-opentype'),
      url('../fonts/Rubik.woff2') format('woff2'),
      url('../fonts/Rubik.woff') format('woff'),
      url('../fonts/Rubik.ttf') format('truetype'),
      url('../fonts/Rubik.svg#Rubik') format('svg');
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
  unicode-range: U+0020-F6CE;
}

@font-face {
  font-family: 'Roboto Black';
  src: url('../fonts/Roboto Black.eot');
  src: url('../fonts/Roboto Black.eot?#iefix') format('embedded-opentype'),
      url('../fonts/Roboto Black.woff2') format('woff2'),
      url('../fonts/Roboto Black.woff') format('woff'),
      url('../fonts/Roboto Black.ttf') format('truetype'),
      url('../fonts/Roboto Black.svg#Roboto Black') format('svg');
  font-weight: 900;
  font-style: normal;
  font-stretch: normal;
  unicode-range: U+0020-2044;
}

@font-face {
  font-family: 'Roboto Medium';
  src: url('../fonts/Roboto Medium.eot');
  src: url('../fonts/Roboto Medium.eot?#iefix') format('embedded-opentype'),
      url('../fonts/Roboto Medium.woff2') format('woff2'),
      url('../fonts/Roboto Medium.woff') format('woff'),
      url('../fonts/Roboto Medium.ttf') format('truetype'),
      url('../fonts/Roboto Medium.svg#Roboto Medium') format('svg');
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  unicode-range: U+0020-2044;
}

@font-face {
  font-family: 'Roboto Medium';
  src: url('../fonts/Roboto Medium Italic.eot');
  src: url('../fonts/Roboto Medium Italic.eot?#iefix') format('embedded-opentype'),
      url('../fonts/Roboto Medium Italic.woff2') format('woff2'),
      url('../fonts/Roboto Medium Italic.woff') format('woff'),
      url('../fonts/Roboto Medium Italic.ttf') format('truetype'),
      url('../fonts/Roboto Medium Italic.svg#Roboto Medium Italic') format('svg');
  font-weight: 500;
  font-style: italic;
  font-stretch: normal;
  unicode-range: U+0020-2044;
}

@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto.eot');
  src: url('../fonts/Roboto.eot?#iefix') format('embedded-opentype'),
      url('../fonts/Roboto.woff2') format('woff2'),
      url('../fonts/Roboto.woff') format('woff'),
      url('../fonts/Roboto.ttf') format('truetype'),
      url('../fonts/Roboto.svg#Roboto') format('svg');
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
  unicode-range: U+0020-2044;
}

@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto Bold.eot');
  src: url('../fonts/Roboto Bold.eot?#iefix') format('embedded-opentype'),
      url('../fonts/Roboto Bold.woff2') format('woff2'),
      url('../fonts/Roboto Bold.woff') format('woff'),
      url('../fonts/Roboto Bold.ttf') format('truetype'),
      url('../fonts/Roboto Bold.svg#Roboto Bold') format('svg');
  font-weight: 700;
  font-style: normal;
  font-stretch: normal;
  unicode-range: U+0020-2044;
}

@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto Bold Italic.eot');
  src: url('../fonts/Roboto Bold Italic.eot?#iefix') format('embedded-opentype'),
      url('../fonts/Roboto Bold Italic.woff2') format('woff2'),
      url('../fonts/Roboto Bold Italic.woff') format('woff'),
      url('../fonts/Roboto Bold Italic.ttf') format('truetype'),
      url('../fonts/Roboto Bold Italic.svg#Roboto Bold Italic') format('svg');
  font-weight: 700;
  font-style: italic;
  font-stretch: normal;
  unicode-range: U+0020-2044;
}

@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto Italic.eot');
  src: url('../fonts/Roboto Italic.eot?#iefix') format('embedded-opentype'),
      url('../fonts/Roboto Italic.woff2') format('woff2'),
      url('../fonts/Roboto Italic.woff') format('woff'),
      url('../fonts/Roboto Italic.ttf') format('truetype'),
      url('../fonts/Roboto Italic.svg#Roboto Italic') format('svg');
  font-weight: 400;
  font-style: italic;
  font-stretch: normal;
  unicode-range: U+0020-2044;
}