.page-gallery {
  position: relative;
  margin-bottom: 40px;

  // @include mdx($tablet-width) {}

  // @include mdn($tablet-width + 1) {}

  &__container {
    @include mdx($tablet-width) {
      padding-top: 96px;
    }
    
    @include mdn($tablet-width + 1) {
      padding-top: 125px;
    }
  }

  &__list {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-self: center;
  }

  &__list-item {
    max-width: 500px;
    flex-basis: 40%;
    height: 300px;

    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;

    margin-bottom: 10px;
    margin-right: 5px;

    img {
      position: relative;
      width: 100%;
    }
  }

  &__gallery-slides {
    margin-bottom: 10px;

    figure {
      width: 100%;
      height: 75vh;
      background-position: center center;
      background-size: contain;
      background-repeat: no-repeat;
    }
  }

  &__thumbs {
    figure {
      width: 30%;
      height: 140px;
      background-position: center center;
      background-size: cover;
      background-repeat: no-repeat;
    }
  }

  .mfp-close {
    color: #fff;
  }
}

/* end .page-gallery */