
.page-home {
  position: relative;
  color: $colorTextH1;

  &--bg-home {
    background-color: $bgContentHome;
  }

  &--bg-oursox {
    background: linear-gradient(284.02deg, #C3AF8D 21.2%, #E4D8C0 100%);
  }

  @include mdx($tablet-width) {
    background-image: none !important;
  }

  @include mdn($tablet-width + 1) {
    background-size: contain;
    background-repeat: no-repeat;
    background-position: right bottom;
  }

  &__title {
    margin-bottom: $padGeneral;
  }

  &__subtitle {
    font-weight: normal;
    margin-bottom: $padGeneral*2;
  }

  &__container {
    display: flex;

    @include mdx($tablet-width) {
      height: 100%;
      padding-top: 96px;

      flex-direction: column;
      justify-content: space-between;
    }

    @include mdn($tablet-width + 1) {
      width: 85%;
      margin-left: auto;
      margin-right: auto;

      height: 100vh;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
    }
  }

  &__first {
    @include mdn($tablet-width + 1) {
      flex-basis: 57%;
    }
  }

  &__last {
    // @include mdx($tablet-width) {
    //   max-width: 768px;
    // }

    @include mdn($tablet-width + 1) {
      display: none;
    }

    img {
      display: block;
      width: 100%;
    }
  }
}

/* end .page-home */

.page-inspiration {
  @include mdx($tablet-width) {
  }

  @include mdn($tablet-width + 1) {
    height: 100vh;
  }

  &__wrapper {}

  &__slide {
    height: 247px;

    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;

    @include mdx($tablet-width) {
      width: 247px;
    }

    @include mdn($tablet-width + 1) {
      width: 387px;
    }
  }

  // &__img {}
}

/* end page-home */